body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.board {
	
}

.board td {
	height: 10px;
	width: 10px;
}

.board td.alive {
	background-color: #222;
}
.board td.dead {
	background-color: #eee;
}